<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        
        
        {% if user.is_authenticated %}
            <li> <a href="{% url 'logout' %}">Logout</a></li>

         {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        
        {% endif %}

          
    </ul>
    </ul>
    <h1>welcome |{{request.user.username}}</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rerum fuga culpa,
        suscipit, molestias, labore deserunt quaerat perferendis aliquam
        et excepturi blanditiis beatae laborum. Consequuntur id tempora illum ipsum sint?</P>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt quae asperiores facere,
        doloribus, architecto quaerat dolores dignissimos dolorem
        soluta culpa debitis tempora vitae ipsum quod. Accusantium numquam ipsum sunt!
    </p>
</body>
</html>
